[2019-07-02 20:17] nedrebo opened #4 "Documentation for camera argument to firmware.update is wrong"
**Actual:** https://github.com/zivid/zivid-python/blob/1a4039a173bf54dc891a18e538df36e5c943add1/modules/zivid/firmware.py#L14

**Expected:** "camera: The camera to be updated."

[2019-07-12 07:02] kontramind opened #7 "Misleading exception message when no Application object initiated"
When doing:
`import zivid
#with zivid.Application() as app:
frame = zivid.Frame("test_step_2_HDR.zdf")`

Results in:
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-5-82463499dcb0> in <module>
      1 import zivid
      2 #with zivid.Application() as app:
----> 3 frame = zivid.Fra

[2019-07-15 13:42] kontramind opened #8 "build-backend="setuptools.build_meta" might be missing tp support virtualenv"
Installing zivid python bindings is failing.
this seems to be due to missing **build-backend="setuptools.build_meta"**.
Please look: https://github.com/pypa/setuptools/issues/1694#issuecomment-466010982

[2019-07-15 13:52] nedrebo commented on #8
This seems to be the root cause: https://github.com/pypa/pip/issues/6264

We have two options:
1. Wait for fix in pip
2. Add `build-backend` to pyproject.toml

[2019-07-22 14:35] SatjaSivcev opened #13 "Dificult to duplicate settings"
To configure the settings for an HDR image that has three frames it is necessary to configure each frame separately, e.g.
settings_collection = [camera.settings for _ in range(3)]
settings_collection[0].iris = 10
settings_collection[0].filters.gaussian.enabled = True
settings_collection[0].gain = 2
settings_collection[1].iris = 10
settings_collection[1].filters.gaussian.enabled = True
settings_col

[2019-08-02 10:49] trym-b opened #14 "Usage error when install Zivid SDK"
When we are installing Zivid SDK's debian packages on Ubuntu, we do not set the correct permissions. The temporary directory in
`function install_www_deb`
should have an additional line:
`chmod 775 "$TMP_DIR" || exit $?`
immediately after creating the directory

[2019-09-27 09:00] eskaur commented on #13
While less elegant, you could do this:
`import copy`
`new_settings = copy.deepcopy(settings)`

[2019-09-27 10:58] SatjaSivcev commented on #13
Isn't this what I did in the first place but we decided it is not good for some reason? @trym-b

[2019-09-27 12:01] eskaur commented on #13
I talked to him. It works for now, but it may stop working in the future once the internal workings of `zivid.Settings` is changed.

[2019-09-27 13:50] SatjaSivcev commented on #13
Does that mean we don't modify it for now to what you recommended?

[2019-09-30 05:54] trym-b commented on #13
The use of `copy.deepcopy` is discouraged, since we are planing on implementing the settings system with a pointer to the underlying cpp settings object. If you call `copy.deepcopy` on such an object you will only clone the pointer, and not create a new object.

[2019-11-05 09:54] knatten opened #23 "CMake option should not be used for strings"
In [CMakeLists.txt](https://github.com/zivid/zivid-python/blob/master/CMakeLists.txt#L7-L8) we use `option` for `ZIVID_PYTHON_VERSION` and `ZIVID_SDK_VERSION`. `option` is [only meant for booleans](https://cmake.org/cmake/help/v3.16/command/option.html), we [should use `set`](https://cmake.org/cmake/help/v3.16/command/set.html#set-cache-entry) instead.

Suggested fix:
[code]

[2019-11-07 09:39] nedrebo opened #25 "Enable warnings and linting of C++ code in CI"
Address this todo:

https://github.com/zivid/zivid-python/blob/a6e40228ff5186dd47128c65565045f11704c394/continuous-integration/linux/lint-cpp.sh#L31-L52

[2019-11-12 11:20] trym-b opened #27 "Common way of adding context manager + release to classes"
`__enter__`, `__exit__`, `__del__` and `release` are duplicated in many of the classes in `modules/zivid`

This could be fixed by adding, for example, and decorator:
[code]

[2019-11-22 03:21] nedrebo commented on #14
The result of this error can be seen as a warning or error depending on Ubuntu version:

`N: Download is performed unsandboxed as root as file '/tmp/zivid-python-install-www-deb-BqOy/zivid_1.7.0+a115eaa4-4_amd64.deb' couldn't be accessed by user '_apt'. - pkgAcquire::Run (13: Permission denied)
`

[2019-11-25 14:23] DekiChan opened #33 "Cannot install python package zivid"
Hello,

I have followed installation instructions for Python, on Ubuntu 16.04. I have installed SDK version 1.7, but when I try to install the python package with `pip3 install --user zivid` I get the following error:

[code]

Complete output is:
[code]

Which makes me think that Python package requires SDK version 1.6? If so, where could I get the older versions? I was unable to find them on Gith

[2019-11-25 14:47] trym-b commented on #33
We have not created a release for zivid-python that that builds against SDK version 1.7.0 for the latest master as of now, it will be out shortly.

In the meantime, you should be able to build the repository locally, by running `pip install .` This assumes that you have the proper dependencies installed, as mentioned in the top-level [readme](https://github.com/zivid/zivid-python/blob/master/READM

[2019-11-25 18:26] eskaur commented on #33
Alternatively, if you would rather use SDK 1.6 for now, you can find the installers here:
http://www.zivid.com/downloads/revisions

[2019-11-26 08:42] DekiChan commented on #33
Thank you for fast response, I was able to install python package (both for SDK version 1.5 and 1.6).

But now I have a new problem. Camera is detected, but I cannot connect to it.

The following code:
[code]

will end with cryptic `Trace/breakpoint trap` message. This is full output:
[code]

If this might not be the best place to continue I can send you an email?

[2019-11-26 09:33] trym-b commented on #33
I just tried your sample on the just released 0.9.1.1.7.0 version (supporting 1.7.0) and I ran your script without any issues.

Could you try to do the following:
uninstall the Zivid SDK
install the latest Zivid SDK (version 1.7.0 as of right now)
and then run the following commands:
[code]

If this does not solve your problem, you can mail us through `customersuccess@zivid.com` or you can create

[2019-11-26 09:49] trym-b opened #34 "Nightly build test released python package"
The current nightly tests only tests the tip of master, which is a good thing, but we should also add a test that tests the actually released pip package.
The procedure should be something like:

[code]

[2019-11-26 14:10] eskaur commented on #33
Does the following minimal example run for you?: @DekiChan
`
import zivid

app = zivid.Application()
cam = app.connect_camera()
print(cam.settings)
`

[2019-11-26 14:44] DekiChan commented on #33
Nope, with SDK 1.6 is still the same, `Trace/breakpoint trap`. However, C++ samples do work on the same machine, with the same camera.

With SDK 1.7 I get (both for Python and C++ samples):
[code]

[2019-11-26 14:50] eskaur commented on #33
Not sure why you get that issue with SDK 1.6

Regarding the SDK 1.7 problem: This happens because the camera is loaded with SDK 1.6's firmware. You can upgrade the firmware through the Python API, but the simplest way would be to just run the Zivid Studio from SDK 1.7 and click the firmware-upgrade button.

[2019-11-26 15:06] DekiChan commented on #33
Ok, thank you for your help. I managed to test what I needed right now with C++ ROS packages. I'll update the firmware tomorrow and try to set-up the system on a fresh install of Ubuntu.

[2019-11-26 18:09] nedrebo commented on #33
Closing this as the original issue is resolved by the release of 1.7.0 pip package.

We also want to help you with the other issues you face with the python interface. Feel free to continue the discussion here or contact us at customersuccess@zivid.com. If you send us an email, refer to this issue and ask for @trym-b or @eskaur. @SatjaSivcev FYI.

[2019-11-26 18:09] #33 closed

[2019-11-27 09:04] nedrebo commented on #34
This will not work. New test are added that test functionality not yet released to pip will fail.

[2019-11-27 09:10] trym-b commented on #34
Some tests yes, I was referring to different tests than the one in today's test directory. We could probably run all tests that are not part of the commit group that is the difference between top of master and the latest release commit.

[2019-11-27 10:56] DekiChan commented on #33
Hey,

I've updated the firmware on the camera and it works fine with Zivid Studio and with C++ examples. The problem with Python package remains, so I assume that it is a problem with Python installation , but right now I don't have time to completely reinstall the OS.

I'll keep you posted on my findings, sometime by the end of the week probably.

[2019-11-27 12:28] eskaur commented on #33
So what is the remaining issue now? `Trace/breakpoint trap`-thing?
If so, could you please make another issue here? This issue is closed because it was named as `Cannot install python package`, which seems to be solved. Sorry for the inconvenience :)

[2019-11-27 13:56] nedrebo commented on #34
What the goal of this test, what kind of error do you want to target?

When uploaded to pypi the package is per definition tested and ok. If we are not certain about that we should improve the testing before uploading.

As I see it the proposed test will only test for external errors.

[2019-11-28 05:04] trym-b commented on #34
The goal is to detect mismatches between the released pip package vs the released SDK.

[2019-11-28 08:30] nedrebo commented on #34
Understand, then I would keep it simple and add a test for just that. Use pip to find latest version from pypi, download http://www.zivid.com/hubfs/softwarefiles/latest_version and compare. Open a new issue about this idea.

[2019-11-28 08:31] #34 closed

[2019-11-29 12:54] trym-b opened #35 "Expose equality operators for zivid package members"
The C++ layer does expose `==` and `!=` operators, similar special member functions `__eq__` and `__ne__` should rely on these.

[2019-11-29 12:58] trym-b opened #36 "Test released pip version vs released SDK version"
Origin: https://github.com/zivid/zivid-python/issues/34
Use pip to find latest version from pypi, download http://www.zivid.com/hubfs/softwarefiles/latest_version and compare.

Whenever we release a newer SDK version, the current advertised readme should not stop working. `pip install zivid` should always work.

[2019-12-05 12:34] pbermell opened #40 "issues to install zivid python with SDK 1.7.0 in a Docker container"
Hello,
I successfully built few months ago a docker container to run the Zivid camera in a multi-system setup managed by a message broker (mqtt). However, when I tried to update my container image to SDK 1.7.0 I get building problems. Any insights? The errors I get when I try to pip3 install zivid are listed here:

[code]
I have attached here both the old dockerfile (dockerfile_zivid_old) which wo

[2019-12-05 12:47] eskaur commented on #40
Thank you for a thorough report. I'll look into this now.

[2019-12-05 12:58] nedrebo commented on #40
I think this line needs to be updated: `RUN pip3 install scikit-build cmake ninja` with the added content in `pyproject.toml`.

However, if you upgrade pip before doing `RUN pip3 install zivid` then you should not need to do the above at all because newer versions of pip supports `pyproject.toml`.

[2019-12-05 13:01] eskaur commented on #40
Unfortunately, `pip3 install --upgrade pip` seems to break the pip-installation on this docker image.
https://stackoverflow.com/questions/49836676/error-after-upgrading-pip-cannot-import-name-main

[2019-12-05 13:03] pbermell commented on #40
certainly does....

[code]

[2019-12-05 13:04] eskaur commented on #40
For now you can get away with
[code]
but that doesn't solve your original problem...

[2019-12-05 13:07] eskaur commented on #40
Add a `pip3 install conan` and it should work.

[2019-12-05 13:10] eskaur commented on #40
The following Docker image builds fine on my computer:

[code]

[2019-12-05 13:11] eskaur commented on #40
Run with
[code]
to get access to the camera and GPU.

[2019-12-05 13:21] pbermell commented on #40
Thanks @eskaur
builds beautifully now on 1.7.0!

I'd like at some point to build the CPP samples as well but that seems to be quite a creature (PCD.. OpenCV... Eigen...). Theoretically with those built into a running container I could use the buil CPP scripts...
have you guys been looking in that direction?

thanks anyway

[2019-12-05 13:29] eskaur commented on #40
Not completely sure I understand what you are saying. Are you proposing that we should ship Docker images with a ready-to-go environment to build our samples?

[2019-12-05 13:44] nedrebo commented on #40
@knatten FYI, feedback about cpp-extra-samples

We are working on making those samples easier to build with all 3rd party libs enabled.

[2019-12-05 13:49] pbermell commented on #40
Yes. I think this is what I meant.......
With this approach, you freeze a configuration (image) that works for the device and the specific sdk. It also has all the dependencies in place.
For me as a user, I just build and run the container with everything on board. Or I add my bits to the dockerfile, (i.e. a message broker client).
In my particular case I mount my scripts folder in the running con

[2019-12-05 14:17] nedrebo commented on #40
We use docker internally and for the CI in most of our repositories. You can see an example here:
https://github.com/zivid/zivid-python/blob/8908c1906916c5c7e331aed9efacf064dc854509/azure-pipelines.yml#L44-L49

As you can see we call a `setup.sh` script. The reason for not having a dockerfile it that this script can also be used on bare bone machines.

Those `setup.sh` scripts are guaranteed to be

[2019-12-05 14:30] pbermell commented on #40
Thanks for sharing @nedrebo & @eskaur !
I will have a look into all that when I have a bit of time to spare.

[2019-12-06 08:14] eskaur commented on #40
\

[2019-12-06 08:14] #40 closed

[2019-12-06 08:15] eskaur commented on #36
Are you proposing putting this in zivid-python's CI?

[2019-12-06 18:17] SatjaSivcev opened #42 "Enable getting camera intrinsics from zivid-python"
This functionality exists the the C++ SDK. It needs to be enabled for zivid-python as well.

Useful links:

http://www.zivid.com/hubfs/softwarefiles/releases/1.7.0+a115eaa4-4/doc/cpp/classZivid_1_1Camera.html

http://www.zivid.com/hubfs/softwarefiles/releases/1.7.0+a115eaa4-4/doc/cpp/classZivid_1_1CameraIntrinsics.html

[2019-12-11 12:46] eskaur opened #43 "Add instructions in README on how to build from source"
Consider mentioning `clone` + `pip intall .` as an alternative installation instruction in the README.

[2019-12-12 14:46] torbsorb opened #45 "Update default 2D API sample settings"
The default settings (Iris 50, exposure 50ms) are not ideal I believe. I would like to see a much lower Iris (maybe 21?) and lower exposure (maybe 10000?).

@theie @SatjaSivcev

[2019-12-12 14:53] SatjaSivcev commented on #45
I agree with lowering the iris and the exposure time. We can crank up the gain for 2D to compensate for the exposure. Brightness can be 1.8 as well. The resulting image should be reasonably well exposed, i.e. not dark and not saturated for e.g. M camera at 1m with a common scene.

[2019-12-12 15:48] eskaur commented on #45
When you say "default" you mean the settings in `sample_capture_2d.py`, right?

I totally agree that those settings are silly. The C++ sample has t=10ms and iris=35, which is much more reasonable. We may want to avoid b=1.8 though, since the won't work on Amber, right?
@SatjaSivcev @torbsorb

[2019-12-12 23:35] SatjaSivcev commented on #45
Good catch about Amber. Yes that is what I meant as 'default'. The point is that we want meaningful settings that are chosen for a particular reason. I can test when I get a camera in my hands.

[2019-12-13 09:17] eskaur commented on #45
Alright. Feel free to make a PR with the new settings, or just post them here and we can follow up when we have time.

[2019-12-16 06:50] trym-b commented on #36
Perhaps, or we could create a separate repository that tests all the wrappers as a user, i. e. Installing python through `pip install zivid`, installing zivid-ros following the instructions, etc.

What do you think?

[2019-12-16 06:58] kontramind commented on #36
Sounds like a valid approach.

[2019-12-16 09:07] trym-b opened #47 "Module names are inconsitent"
The current `zivid` module names are inconsistent, we are using both snake case and lower case without separators. For example `captureassistant` and `camera_state`. These should all be proper snake case.

A quick fix could be to simply rename all the modules to proper snake case, but we should instead implement a camelCase to snake_case function in the pybind11 layer, so that we can simply do a o

[2019-12-18 06:58] nedrebo commented on #47
I think we should go straight for the proper solution to avoid tech debt.

The fix should be to replace the `tolower` here with a transform from capital case to snake case here:

https://github.com/zivid/zivid-python/blob/b52396668cd60c285d1e1ac6f7748e5c93fb740b/src/include/ZividPython/Wrappers.h#L52-L60

The same transform should also be applied in `wrapClass` and `wrapEnum`

[2019-12-18 08:04] kontramind commented on #47
Would ti be possible to have test(s) to check if the name transformation is working - or it would be considered as over-engineering?

[2019-12-18 08:15] trym-b commented on #47
Perhaps we could add that, although we have not set up a C++ test framework for this repository so it might be a bit too much work at this moment.

[2020-01-02 21:09] alexey-kashapov opened #50 "Modules names are incorrect in samples"
in **sample_capture_assistant.py** you used incorrect name e.g. importing here:
`from zivid.capture_assistant import AmbientLightFrequency, SuggestSettingsParameters`
please change it to zivid.captureassistant

[2020-01-03 05:19] trym-b commented on #50
We changed the naming of the submodules under `zivid`, but we have not made a release with these changes just yet. The correct naming going forward is `capture_assistant`, not `captureassistant`

In the meantime you can work around this by either:
1. rename `capture_assistant` to `capture_assistant` when installing zivid-python through `pip install zivid`
or
2. install zivid-python through `pip in

[2020-01-07 09:34] trym-b commented on #50
New pip package has just been released.
`pip install zivid` should now work with `import zivid.capture_assistant`

Closing this issue.

[2020-01-07 09:34] #50 closed

[2020-01-07 23:56] alexey-kashapov commented on #50
nice! thank you!

[2020-01-13 15:53] eskaur commented on #47
This one is fixed now, right? @trym-b

[2020-01-14 05:23] trym-b commented on #47
Right, will close it.

[2020-01-14 05:23] #47 closed

[2020-03-09 08:46] zeelbhatt opened #52 "pip install zivid not working on Python 3.8 (Please Help)"
Collecting zivid
  Using cached https://files.pythonhosted.org/packages/a5/a7/32e08e5609535b08e23e8f2ae6620f832bdaa2882573777b17fc5a9139ea/zivid-1.0.0.1.8.0.tar.gz
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting numpy (from zivid)
  Using cached https://files.pythonhosted.org/packages/0e/c3/be53614c4e349077805

[2020-03-09 08:48] zeelbhatt commented on #52
I have checkd all Dependencies :
Python version 3.5 or higher
Zivid SDK version 1.8.0 or higher
Compiler with C++17 support

[2020-03-09 11:14] nedrebo commented on #52
Thanks for the report. We will look into this this. As a workaround, if possible, you can use Python 3.7 which have pre-compiled binaries available. Then you avoid all the compilation issues you are seeing.

[2020-03-09 11:16] nedrebo commented on #52
@trym-b / @eskaur: We should provide 3.8 binaries as well when releasing the next version. FYI

[2020-03-09 13:29] zeelbhatt commented on #52
Thank you for your help

[2020-03-12 09:26] nedrebo opened #54 "test_save unit test disabled because of bug in Zivid SDK 1.8.1"
This bug is planned to be fixed in next version of the SDK. Re-enable this test once the fix is in place.

[2020-03-13 13:45] SatjaSivcev opened #55 "Change Ambient Light Frequency to None in sample_capture_assistant.py"
We should be consistent in samples across different programming languages.
The C++ one uses none:
https://github.com/zivid/zivid-sdk/blob/bf89ba7cce266c1fa02a97fa26cd2d72b2620888/cpp/Samples/CPP/SampleCaptureAssistant.cpp#L20
The C# one uses none:
https://github.com/zivid/zivid-sdk/blob/bf89ba7cce266c1fa02a97fa26cd2d72b2620888/cpp/Samples/Csharp/SampleCaptureAssistant.cs#L17
The Python one uses 50

[2020-03-13 14:01] SatjaSivcev opened #56 "Change iris valeus to 14,21,35 in capture_hdr.py"
https://github.com/zivid/zivid-python/blob/0c13385e884cb7a763e6056f74b00760b5f78b20/samples/sample_capture_hdr.py#L10-L12

Currently, iris values in use are 20, 30, 60. For most common dynamic range coverage we should use 14, 21, 35. This is in line with Zivid Academy: https://zivid.atlassian.net/wiki/spaces/ZividKB/pages/99844206/Getting+the+right+exposure+for+good+point+clouds

[2020-03-13 14:13] SatjaSivcev opened #57 "Modify sample_capture_2d.py"
https://github.com/zivid/zivid-python/blob/master/samples/sample_capture_2d.py#L10-L12
Add brightness and gain like in C++:
https://github.com/zivid/zivid-sdk/blob/bf89ba7cce266c1fa02a97fa26cd2d72b2620888/cpp/Samples/CPP/SampleCapture2D.cpp#L16-L19
Also, use the same parameter values.

[2020-03-13 14:58] nedrebo commented on #57
Feel free to open PRs instead of issues for trivial changes. I think that will be more efficient for both parts. Issues like this are unlikely to get top priority by us and it will usually take long time before addressed.

[2020-03-13 15:00] nedrebo commented on #55
Feel free to open PRs instead of issues for trivial changes. I think that will be more efficient for both parts. Issues like this are unlikely to get top priority by us and it will usually take long time before addressed.

[2020-03-13 15:00] nedrebo commented on #56
Feel free to open PRs instead of issues for trivial changes. I think that will be more efficient for both parts. Issues like this are unlikely to get top priority by us and it will usually take long time before addressed.

[2020-03-13 20:45] SatjaSivcev commented on #56
@nedrebo I don't have permision to create a branch in this repo. Can I get it?

![image](https://user-images.githubusercontent.com/46567886/76658229-055a2300-654a-11ea-97a0-f5d24cd0acca.png)

[2020-03-14 20:18] nedrebo commented on #56
I added your team.

(When you don't have access to create branches in a public repository you can still always make a *fork*  and a PR back into the main repository.)

[2020-03-16 16:16] #56 closed

[2020-03-18 13:17] #57 closed

[2020-03-18 14:15] #55 closed

[2020-03-18 16:17] SatjaSivcev commented on #45
I think this can be closed @torbsorb? See: https://github.com/zivid/zivid-python/commit/f1d25002d391969e74fd234fea57b832ad421198

[2020-03-23 06:09] torbsorb commented on #45
Yes, it has been resolved.

[2020-03-23 06:09] #45 closed

[2020-03-23 06:16] torbsorb opened #65 "Update copyright year in license file"
2019 --> 2020

[2020-03-23 09:08] nedrebo commented on #65
Feel free to open PRs instead of issues for trivial changes. I think that will be more efficient for both parts.

[2020-03-23 09:11] nedrebo commented on #65
I gave CS write access to repository when @SatjaSivcev opened similar issue (https://github.com/zivid/zivid-python/issues/56).

[2020-06-15 13:03] matthijsramlab opened #72 "Recontruct Zivid frame from numpy ndarray"
I need to convert a numpy.ndarray to a Zivid frame. The reason for this is that I am using ROS ([Zivid Driver](https://github.com/zivid/zivid-ros)), which sends point clouds in the not Zivid format (Pointcloud2D message) and want to preform Zivid eye in hand calibration which requires a zivid pointcloud object.

I am able to convert a Pointcloud2D message to numpy.ndarray, which has the same resul

[2020-06-15 13:21] eskaur commented on #72
There is currently only two ways to create a `Zivid::PointCloud`:
* Capturing with a Zivid camera.
* Loading a ZDF file.
(And a `Zivid::Frame` is merely a `PointCloud` plus some meta-data.)

To me this sounds like a deficiency in the ROS wrapper, i.e. it should be possible to HandEye calibration in ROS with whatever data types ROS provides. @apartridge will likely know more.

[2020-06-15 13:29] matthijsramlab commented on #72
_it should be possible to do HandEye calibration in ROS with whatever data types ROS provides_

Yes, I agree maybe a solution would to let the detect_feature_points function except a np.ndarray instead of the zivid.Pointcloud?

[2020-06-16 12:04] apartridge commented on #72
Unfortunately the Zivid ROS driver itself does not have hand-eye calibration. This would be some work to do and is not on the short-term roadmap.

In this case it sounds like @matthijsramlab is using both the ROS and Python API, and wants to do hand-eye calibration via the Python API, using data captured via ROS. That is not possible currently. To be able to do it, we would need to let the user ma

[2020-06-16 12:15] eskaur commented on #72
Note that `calibrateEyeInHand()` does not require a PointCloud as input, it merely requires DetectionResults and Poses. As long as the feature point detection (what normally happens in `detectFeaturePoints()`) can be done in Python with OpenCV, we merely need to add a way for the user to create their own DetectionResult based on a list of 3D points. This is a much lower hanging fruit in terms of S

[2020-06-16 15:13] matthijsramlab commented on #72
_In this case it sounds like @matthijsramlab is using both the ROS and Python API, and wants to do hand-eye calibration via the Python API, using data captured via ROS._

This is indeed correct

This would be a nice solution

[2020-06-22 13:06] matthijsramlab commented on #72
Any idea when this will be implemented?

[2020-06-22 13:09] eskaur commented on #72
This is currently not on our shortlist and we are fully booked for a while, sorry. If you want this moved up you should discuss with @SatjaSivcev , and if he agrees we can discuss postponing some other task and pulling this in.

[2020-06-23 09:55] matthijsramlab commented on #72
Yes that would be great. There must be more users that are using ROS to control the Zivid (and need a hand in eye calibration).

[2020-06-25 04:28] trym-b opened #75 "Investigate using pybind11 return value policies"
It is my hope that we can use [pybind11's return value polic](https://pybind11-rtdtest.readthedocs.io/en/stable/advanced.html#return-value-policies)y to remove the need of having cameras/point clouds/application as releasable objects. Specifically: `return_value_policy::take_ownership`, which gives the python code ownership of the instance in question.

[2020-06-25 04:39] trym-b opened #77 "Build bdist_wheel for windows, then test these wheels in a separate step"
In order to encapsulate testing the built wheels on windows, we should build the wheels in a build step, upload the wheels to dev.pypi with the correct version/commit hash/date and then use these uploaded wheels at the test stage.

[2020-06-25 08:27] nedrebo commented on #77
You should do the same for Linux but use `sdist` instead.

[2020-07-14 09:10] trym-b opened #82 "Investigate why running samples fails on windows"
For some unknown reason test_samples.py fails when running on [windows](https://dev.azure.com/zivid-devops/zivid-python/_build/results?buildId=4477&view=logs&j=6ba2a0ce-315a-5ef0-a56f-83f4136474ba&t=4e8a91be-3506-5d6f-1c74-6bbe51ec615f&l=276)

This should be investigated

[2020-07-14 12:46] torbsorb commented on #82
Tried this on my windows PC. It produces 3 errors, of which all seem reasonable:
[code]
The first two failures "should fail". However, shouldn't a wanted failure be logged as success?

I tested this on master, but against `python -m pip install zivid`. Why would `zivid.__version__` be 0.9.1.1.7.0?

[2020-07-14 18:55] torbsorb commented on #82
The reason it fails is that `run_samples` assumes that `test.py` is executed from `continuous-integration/windows`. However, that's not the case for windows. For Linux `--workdir /host/continuous-integration/linux` as argument for the Docker image. We could use the `workingDirectory` argument for `script`. However, @trym-b recommended that we remove `--workdir /host/continuous-integration/linux`.

[2020-07-14 18:57] torbsorb opened #84 "Make repository root the default working directory"
Remove `--workdir /host/continuous-integration/linux` as argument from Linux Docker image. Discovered as part of #82

[2020-08-12 06:24] #82 closed

[2020-09-23 12:49] anordal opened #91 "toSnakeCase could be simplified"
This should be exactly equivalent:

[code]

[2020-09-23 14:08] anordal opened #93 "toSnakeCase: string_view ftw"
[code]

[2020-11-03 10:35] mortlind commented on #33
I am on Debian with Python 3.8, and can install 2.1.0 core and telicam driver fine, and pip install zivid succeeds. But any attempt at getting the camera, or the file for simulating a frame from the camera, results in `Trace/breakpoint trap`. E.g.
[code]
Is there any easy fix for this? I did not find a new, relevant issue opened by @DekiChan ...

[2020-11-03 10:39] eskaur commented on #33
Hi @mortlind . Thank you for bringing this to our attention.
Could you create a new Issue for this? That would make it easier for us to track it, since this issue is Closed and therefore a bit invisible.

[2020-11-03 10:41] eskaur commented on #93
Should this issue be closed, @anordal ?

[2020-11-03 10:42] eskaur commented on #91
This is done now, right @anordal ?

[2020-11-03 10:42] eskaur commented on #84
Is this Issue still relevant, @torbsorb ?

[2020-11-03 10:45] eskaur commented on #52
@zeelbhatt : We officially support Python 3.6, 3.7, 3.8 and 3.9 in the latest version. Please let us know if you have any more issues.
Closing this issue as I think it's resolved.

[2020-11-03 10:45] #52 closed

[2020-11-03 10:49] eskaur commented on #43
Resolved by the latest release.

[2020-11-03 10:49] #43 closed

[2020-11-03 10:49] mortlind opened #104 "Trace/breakpoint trap on Debian, Python 3.8, Zivid 2.1.0"
I am on Debian with Python 3.8, and can install 2.1.0 core and telicam driver fine, and `pip install zivid` succeeds. But any attempt at getting the camera, or the file for simulating a frame from the camera, results in `Trace/breakpoint trap`. E.g.
[code]
Is there any easy fix for this?

[2020-11-03 10:49] eskaur commented on #14
Is this still an issue, @trym-b ?

[2020-11-03 10:50] eskaur commented on #104
Could you post a minimal but self-contained Python script that reproduces this error?

[2020-11-03 10:53] mortlind commented on #104
I posted the first three lines from the standard example. That is sufficient for me to generate the error.

[2020-11-03 10:57] eskaur commented on #104
Ah, so to be clear, running either `samples/sample_capture.py` or `samples/sample_capture_from_file.py` fails with "Trace/breakpoint trap"?
Could you give me the output of `python samples/sample_print_version_info.py` (if it works)?

[2020-11-03 11:02] #65 closed

[2020-11-03 11:03] #13 closed

[2020-11-03 11:16] eskaur commented on #4
Looks like this issue has been buried for a long while. Finally made a PR to resolve it.

[2020-11-03 11:19] mortlind commented on #104
[code]

[2020-11-03 12:06] anordal commented on #91
Yes, I see it's in master even. Closing.

See [StdExt.cpp](https://github.com/zivid/zivid-sdk/blob/master/cpp/Library/Base/StdExt.cpp#L59) for how it ended up in SDK.

[2020-11-03 12:06] #91 closed

[2020-11-03 12:42] eskaur commented on #104
Thank you, that looks as it should.
What exact version of Debian are you running? I'd like to reproduce this problem myself.
[code]

[2020-11-03 12:51] anordal commented on #93
It doesn't look like this is applied. Did you mean to, @trym-b?

I think there is actually one important fix in here: To not call c_str() on a temporary: `toSnakeCase(name).c_str()`.

[2020-11-03 12:57] mortlind commented on #104
[code]

[2020-11-03 12:58] mortlind commented on #104
And
[code]

[2020-11-03 13:18] eskaur commented on #104
Ah that's pretty bleeding-edge. Have you also tried with the latest stable Debian by any chance? (Debian 10 / Buster)

[2020-11-03 13:24] mortlind commented on #104
I do not have a stable install around at the moment, but I will try out with a live when I find the time.

[2020-11-03 13:33] eskaur commented on #104
I may be able to test with Debian 10 myself soon.
May take a bit because we don't have a test-setup ready, since we don't officially support Debian.

[2020-11-03 13:53] mortlind commented on #104
I know that Ubuntu is the supported distribution. However, Debian is the free choice, and I will stretch a long way to get everything working on Debian :-)

The difference should be quite minor, so the errors may simply be due to implicit dependencies. If we discover, and express these in the installer, or just in the README, everything will be fine, I am sure ...

[2020-11-03 13:57] eskaur commented on #104
Ubuntu is certainly free, at least in the no-cost sense.
Anyway, I would like for this to work on Debian (even if we don't "officially" support it), so I'm keen to investigate further.

[2020-11-03 14:02] mortlind commented on #104
Ubuntu is free as "free beer" ... for now, and probably forever. But Debian is free as in "free mind". I do agree, however, that this latter part, relating to such things as freedom, liberty, and democracy, seems to matter less and less in the global tech-oligarchy we increasingly find ourselves in :-(

[2020-11-03 14:05] eskaur commented on #104
Moving on... :D
Does any of the core Zivid functionality work on your machine? Like Zivid Studio, CLI-tools or compiling+running C++ samples? Just want to make sure the issue lies with zivid-python.

[2020-11-03 14:11] mortlind commented on #104
ZividStudio starts up, but crashes with the same error while trying to connect to the camera. Thus, this is not a Python 3.8 issue.
I have not tried any C++-application. Do you think that is worthwhile at this stage?

[2020-11-03 14:15] eskaur commented on #104
Ah that is good to know. I thought this was a zivid-python issue.
No, if you've confirmed that Zivid Studio crashes with the same error then you don't need to try the C++ samples.

[2020-11-03 14:16] eskaur commented on #104
Have you tried both the Ubuntu 16.04 and the Ubuntu 18.04 debs? There are some differences in which libstdc++ they link to and such, so trying the other one may help.

[2020-11-03 14:19] nedrebo commented on #104
Usually, you would get better exceptions if OpenCL support is missing, but can you post the output of `clinfo`?

We dump logs to `~/.cache/Zivid/API/Log`. Can you wipe that directory and run the reproducer once more and then upload the log file that appeared in `ls ~/.cache/Zivid/API/Log/`?

[2020-11-03 14:24] mortlind commented on #104
Here are the Zivid API log and the output of `clinfo`.
[Zivid-1604413281724-114233.log](https://github.com/zivid/zivid-python/files/5481800/Zivid-1604413281724-114233.log)
[clinfo.txt](https://github.com/zivid/zivid-python/files/5481801/clinfo.txt)

[2020-11-03 14:25] mortlind commented on #104
Good point! I have only tried the 18.04-debs. I will immediately try the 16.04-debs.

[2020-11-03 14:38] mortlind commented on #104
@eskaur

I tested ZividStudio with 16.04 v.2.1.0. Same error :-(

[2020-11-03 14:46] eskaur commented on #104
Oh well, thanks for checking.

[2020-11-03 15:18] eskaur commented on #104
The log you posted was from using the 16.04 debs, right? Could I also get the logs from the crash when running with 18.04 debs?

[2020-11-03 16:08] mortlind commented on #104
I believe the logs I uploaded was with 18.04. I will upload new logs tomorrow for both versions, and with definite knowledge.

[2020-11-03 22:48] nedrebo commented on #14
Fixed in https://github.com/zivid/zivid-python/commit/7ddf591ba6fc7ee49ef5fef3088603720ba21d1f, this bug was silent in 16.04, warning in 18.04 and error in 20.04. Since we now support 20.04 this is no longer a problem.

[2020-11-03 22:48] #14 closed

[2020-11-03 22:56] nedrebo commented on #93
I agree with @anordal, that is a bug. Calling the function is actually fine, but storing the pointer it returns is not.

[2020-11-04 08:56] trym-b commented on #93
This task is currently not on my todo list, so it is unlikely that this will be prioritized. Feel free to create a PR.

[2020-11-04 19:11] mortlind commented on #104
@eskaur Today I tested with a live version of Debian stable, but was unable to find the package `intel-opencl-icd` there. It is apparently only in unstable. Without it, as I understand, the option is `mesa-opencl-icd` which only gives me OpenCL v. 1.1; the intel-specialized implementation gives me v. 2.1.

I just generated the logs particular for 16.04 and 18.04. The were obtained by running sampl

[2020-11-05 09:12] eskaur commented on #104
Thank you, I'll check out those logs.

Are you able to install these Intel drivers on your stable Debian?: https://zivid.atlassian.net/wiki/spaces/ZKB/pages/530842161/Intel+CPU+with+integrated+GPU
These drivers are at least know to work on Ubuntu.

[2020-11-05 10:26] mortlind commented on #104
I will try, but I bet that it will require upgrading to more libraries from the Debian unstable release.

[2020-11-10 07:40] mortlind commented on #104
@eskaur Postponed but not forgotten ... Please do tell me, if you test this yourself :-)

[2020-12-17 06:04] nedrebo opened #107 "Add Python 3.9 testing on Linux"
We should include a distro with  Python 3.9. Maybe Fedora 33 is an easy win if we base CI setup on the Fedora 30 work. It s nice to add more non-Ubuntus to increase the test surface of Zivid SDK.

_Originally posted by @nedrebo in https://github.com/zivid/zivid-python/pull/106#discussion_r543571633_

[2020-12-18 11:10] IanYangChina opened #108 "Camera intrinsics"
Hi,

I have gone through the zivid KnowledgeBase and noticed that the camera intrinsic parameters can be accessed from the zivid API. However I couldn't manage to find the corresponding API. Could you tell me where can I get these information? Thanks :)

[2020-12-18 21:02] nedrebo commented on #108
Hi,

Intrinsics support is unfortunately not implemented in `zivid-python`.

A feature request for adding this is opened in https://github.com/zivid/zivid-python/issues/42. I'm closing this issue as a duplicate.

[2020-12-18 21:07] #108 closed

[2021-02-17 13:46] knzivid opened #122 "Undo PR #121 once actions/virtual-environments issue 2658 is fixed"
Track https://github.com/actions/virtual-environments/issues/2658

[2021-02-17 13:48] eskaur commented on #107
Fedora33 with python3.9 is now part of the CI.

[2021-02-17 13:48] #107 closed

[2021-02-17 14:01] eskaur commented on #122
Once this is all settled, would you recommend going back to "archlinux/base" or something else?

[2021-02-17 14:02] knzivid commented on #122
Nah.. I would still stick to archlinux/archlinux. The whole point of arch is to keep rolling and directly using the images from archlinux upstream is better

[2021-02-17 14:10] eskaur commented on #122
Aha, so will revert from `archlinux/archlinux:base-devel` to `archlinux/archlinux:base` when resolving this issue.

[2021-02-17 14:14] knzivid commented on #122
We were originally on the docker hub packaged `archlinux` but we switched now to `archlinux/archlinux`. The reason why we switched to `base-devel` tag is that we build AUR packages and

[2021-03-02 11:16] nedrebo opened #124 "Add clang-tidy checking of code to CI"
We should enable it then, but that is a task in itself.

_Originally posted by @nedrebo in https://github.com/zivid/zivid-python/pull/123#discussion_r585477711_

[2021-03-09 08:21] eskaur commented on #122
Resolved by https://github.com/zivid/zivid-python/pull/125

[2021-03-09 08:21] #122 closed

[2021-03-19 20:25] #124 closed

[2021-04-26 16:44] AnasIbrahim opened #127 "Failed to import zivid module"
I'm using 2.3 SDK and installed the module from source. It builds successfully but fail when imported.

Python 3.8.5 (default, Jan 27 2021, 15:41:15)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "/home/iiwa/.local/lib/python3.8/site-packages/_zivid/__init__.py", line 35, in <module>
    from _zivid._zivid imp

[2021-04-26 18:02] eskaur commented on #127
Hi @AnasIbrahim , thank you for reaching out to us.

Some questions to start:
- Can you confirm the exact version of your Zivid SDK installation? One way to do this is to open Zivid Studio and go to "Help -> About Zivid Studio". Either type in the whole version string or just take a screenshot of the pop up window.
- What operating system are you on? I see that it is Linux, but I don't know which

[2021-04-27 06:58] eskaur commented on #127
Actually, I see now that this problem has also appeared in our test-pipeline,
https://github.com/zivid/zivid-python/actions
so we have a reproducer. We will look into this immediately.

[2021-04-27 13:19] eskaur commented on #127
Fix is now merged and released. You can either use latest `master` branch or do a `python3 -m pip install --upgrade zivid`.
Let us know if it works out for you. If it does, you can close this issue.

[2021-04-27 15:16] AnasIbrahim commented on #127
Yes, It works now. Thanks for the very quick fix.

[2021-04-27 15:16] #127 closed

[2021-06-19 00:20] ebruun commented on #42
is there any update on this?

[2021-06-21 06:31] SatjaSivcev commented on #42
Before we implement this feature in zivid-python, you can get camera intrinsic for your particular camera using our C++ or C# SDK since they are constant. You can then save them to file and read them in Python, or just hard code them.

Check out our code samples to get camera intrinsic:
https://github.com/zivid/zivid-cpp-samples/tree/master/source/Camera/InfoUtilOther/GetCameraIntrinsics
https://g

[2021-08-06 09:03] EllingEye opened #136 "Capture with settings from YML in python"
Is it possible to load the exported settings from Zivid Studio in python? I've found an example showing how to do this in c++:

`const auto settingsFile = std::string(ZIVID_SAMPLE_DATA_DIR) + "/Settings/" + cameraModel + "/Settings01.yml";
 const auto settings = Zivid::Settings(settingsFile);`

But I haven't found a way to do the same with the zivid.Settings()-class in python

[2021-08-06 09:36] trym-b commented on #136
Hi @EllingEye

I am sorry to say but at the moment we do not have good way of reading settings from a yaml file using `zivid-python`. I have created an internal ticket for this issue.

[2021-08-06 09:40] EllingEye commented on #136
That's okay. I'll just trow something together with pyyaml. Just wanted to check if a solution already existed. Thank you for the quick reply.

[2021-09-08 14:30] erikschuitema opened #139 "Installation fails: Unable to find 'eigen/3.3.7@conan/stable'"
Installation fails (Ubuntu 20.04.3; Python 3.8.10; zivid-python 2.1.2.2.4.1) with the following output:
[code]

The following changes seem to fix the build/install, but I don't know if there are side effects:
[code]

[2021-09-09 06:03] trym-b commented on #139
It seems like the repo providing eigen@conan/stable has been marked obsolete: https://github.com/conan-community/conan-eigen
And the new repo can be found here: https://github.com/conan-io/conan-center-index
Your fix seems to be [correct](https://github.com/zivid/zivid-python/runs/3552678414), so thank you for providing it. Although we will likely bump the eigen version to 3.3.9 as it seems like t

[2021-09-09 06:36] #139 closed

[2021-09-09 07:30] erikschuitema commented on #139
Thanks for solving this at the speed of light!

[2021-09-14 12:44] erikschuitema commented on #136
I ran into the same issue.
This seems to do the job in 2.1.3.2.4.1:
[code]
Looking forward to the official support of this functionality :)

[2021-09-14 14:56] eskaur commented on #136
Yes that should do the trick for now.

**One warning:** You will get inconsistent result if the yml contains values for the settings in the Zivid API that are not yet supported in the Python front-end, such as `Settings::Color::Experimental::ToneMapping` and `Settings::Experimental::Engine`. You will experience that those values will be lost in translation, and be reverted to their default values

[2021-10-19 10:38] eskaur commented on #136
This is now officially released to PyPI.

[2021-12-09 14:02] thibaut-d opened #155 "Failed to import the Zivid Python C-module - version `GLIBCXX_3.4.29' not found"
Hi,

The error arrise on the line:

    import zivid

Here are the versions:

- Ubuntu 21.10
- Python 3.8
- Toshiba Teli driver v3.0.1.1-3
- Zivid Core + Studio + Tools v2.5.0 - 10/2021
- Zivid Core source : zivid_2.5.0+19fa6891-1_amd64.deb
- Zivid Python 2.3.0.2.5.0 (pip installed)

[code]

[2021-12-09 14:33] eskaur commented on #155
Hi @thibaut-d !
Thank you for writing up this issue. We really appreciate that you give us all the system info up front.

As you see at the bottom of the zivid-python Readme we only officially support Ubuntu 18.04 and 20.04 (https://github.com/zivid/zivid-python#test-matrix), so unfortunately we don't have coverage for 21.10 in the CI system. Once 22.04 is out we will add official support for that

[2021-12-09 14:55] eskaur commented on #155
Hi again!
I just tested setting all this up in a clean Ubuntu 21.10 Docker container, and zivid-python installation + `import zivid` all worked fine. However, I used `python 3.9` since that is the default `python3` on Ubuntu 21.10. Can you try with `python 3.9`?

[2021-12-10 08:12] thibaut-d commented on #155
Thanks, I tested too with Anaconda Python 3.8 and 3.9, this does not change the issue.

[2021-12-10 08:13] thibaut-d commented on #155
Is there some other logs I can provide ?

[2021-12-10 08:21] thibaut-d commented on #155
I got it running using the system version of Python instead of Anaconda:

    conda deactivate myenv
    pip3 install zivid

Not very clean but it solve the issue.

[2021-12-10 08:24] eskaur commented on #155
Good, then we know it works with the system Python at least.

We don't specifically support the Anaconda setup, so you are a bit on your own there, but I'm sure there is a way to make that work as well. I have one idea: Try uninstall Zivid SDK and re-install using the 18.04 debs instead of the 20.04 debs. These will expect a different GLIBCXX version, and perhaps it will be the one that your Anaco

[2021-12-10 08:29] eskaur commented on #155
Also, if you are merely uncomfortable installing directly on the system python, you could always make a normal non-Anaconda venv, `python3 -m venv ./myvenv`, and install zivid-python in there.

[2022-01-22 18:45] apockill commented on #42
This feature would be a huge nice-to-have when getting started with the zivid. Is there any timeline for this?

[2022-01-24 07:11] SatjaSivcev commented on #42
There is no timeline for implementing this feature as of now. Can you share what you want to achieve by using intrinsic? I am asking because there could be an alternative solution, and if there is, I would like to share it.

[2022-01-24 18:44] apockill commented on #42
I'm writing my own ROS2 interface for the zivid, and I would like it to work with multiple zivid cameras. I need to create a `CameraInfo` message. Since I don't want to hardcode intrinsics, it would be best if I could request them from the camera.

[2022-02-03 10:31] runenordmo commented on #42
Hi, @apockill!

I don't have any further update for this feature than what @SatjaSivcev has mentioned.
But I would like to point to where we construct the `sensor_msgs/CameraInfo` in our zivid-ros wrapper:
https://github.com/zivid/zivid-ros/blob/3be4fbaa0ee7ce1ee796dd29833bd181ad8167fa/zivid_camera/src/zivid_camera.cpp#L649-L695.

Please let us know if you have any more questions.

[2022-02-07 08:08] eskaur opened #161 "Tests fail on fedora:35 with python3.10"
The unit-test "test_capture_from_file" on fedora:35 (python3.10) suddenly started consistently failing. After some investigation we found that it comes from the following error at the time when the file camera is destroyed:
[code]

The task is to fix the problem and re-introduce fedora:35/python3.10 into the support matrix.

[2022-02-08 09:48] eskaur commented on #42
@ebruun / @apockill : This feature has now been merged to zivid-python. It will be officially release to PyPI in a day or so, but feel free to start using it straight from `master`. :)

[2022-02-08 13:33] ebruun commented on #42
@eskaur thanks a lot!

[2022-02-08 15:15] eskaur commented on #42
This is now released to PyPI. Steps to upgrade:

- Install SDK 2.6.1: https://www.zivid.com/download-software
- `pip install zivid==2.5.0.2.6.1`

[2022-02-08 15:15] #42 closed

[2022-02-11 17:36] christinaionescu opened #166 "zivid.Frame() Function and versioning"
Hi,

I want to use the "zivid.Frame(path_dir).point_cloud()" Function from the python wrapper but I always get the error "RuntimeError: Failed to load .zdf file. To load this file you may need to update to a newer version of Zivid SDK.".

I am working on Ubuntu 18.04

Initially I had the 2.6.1 SDK and 2.4.0.2.6.0. zivid version. Then I upgraded the zivid version to 2.5.0.2.6.1. (python 3.7.3) whic

[2022-02-11 18:05] christinaionescu commented on #166
Another addition: I don't have any problems with the calibration script where also .zdf files are saved and then loaded.
Maybe I am using the function in the wrong way?
I use path_dir as a string of the full path to my .zdf file.

[2022-02-14 13:06] eskaur commented on #166
Hi!
Can you check a couple of things for me?:

- What is the output of running `samples/sample_print_version_info.py` ?
- Can you open this ZDF file in Zivid Studio?
- Which version of the SDK did you use to create this ZDF file?

[2022-02-14 14:42] christinaionescu commented on #166
Hi!

To be sure i tested again both:

Zivid SDK 2.6.0, captured the .zdf File with the zivid Studio and tried to open it using zivid=2.4.0.2.6.0 with python 3.6.15 failed.
Output of sample_print_version_info.py:
Python: 3.6.15
zivid-python: 2.4.0.2.6.0
Zivid SDK: 2.6.0+fa0036c5-1

Zivid SDK, 2.6.1, captured the .zdf File with the zivid Studio and tried to open it using zivid=2.5.0.2.6.1. with pyth

[2022-02-14 14:54] eskaur commented on #166
Thank you for the info.
Can you show us a simple code sample that fails to load your ZDF file?

[2022-02-14 15:58] eskaur commented on #166
Could you upload the log that is created when you run that? It should end up in `~/.cache/Zivid/API/Log/`.
It may be hard to see what is the latest log, so consider just deleting all files from `~/.cache/Zivid/API/Log/` before running.

[2022-02-14 17:12] christinaionescu commented on #166
If I place the line

`frame_file = Path("/home/christina/zivid/calibration/zivid_utilities/source/applications/advanced/hand_eye_calibration/ur_hand_eye_calibration/datasets") / "testfile_37_261.zdf`

into the calibration script into the `perform_hand_eye_calibration` function it loads the pointcloud! But not in the seperate small script i posted above. I am a bit lost.

[2022-02-14 17:14] christinaionescu commented on #166
I think i solved it.

import zivid
from pathlib import Path
[code]

is working.
`with zivid.Application():` was missing.

[2022-02-14 17:25] #166 closed

[2022-05-19 12:07] eskaur commented on #161
Archlinux also encountered this issue. Re-enable both fedora35 and archlinux testing when this is fixed.

[2022-06-16 09:55] eskaur commented on #161
Solved by https://github.com/zivid/zivid-python/pull/176

[2022-06-16 09:55] #161 closed

[2022-06-16 09:55] #136 closed

[2022-06-20 22:00] velovix opened #178 "Build dependencies not found when using Pip >= 21.3 with Python 3.10"
When attempting to install Zivid via Pip on Ubuntu 22.04, the build does not find Ninja even though build dependencies appear to have been installed.

It seems the issue only happens when using Pip >= 21.3 and Python 3.10 at the same time. Using later versions of Pip with Python 3.8 or Python 3.10 with earlier versions of Pip works fine. This leads me to believe that the issue is related to this c

[2022-06-21 06:27] eskaur commented on #178
Thanks for reporting.
To be clear: It does work for you in the end, if you use a non-default version of pip?

[2022-06-21 20:09] velovix commented on #178
Yes, that's right! No issues after a downgrade.

[code]

[2022-06-23 06:54] MBaranPeker opened #180 "Segmentation fault (core dumped) Error"
Hi, I just purchased the Zivid Two Camera  and currently I am facing with some problems during the calibration. (1.zdf is scan with calibration board )

Whenever I call the detect_feature_points function It raises the " Segmentation fault (core dumped) " Error and shut down the program.  I will glad if you could help me with this.
I attached some information below that may can help you.
(Btw I hav

[2022-06-23 11:40] #180 closed

[2022-06-23 11:51] eskaur commented on #178
We will look into this soon once we start officially supporting Ubuntu 22.04.
For now I hope you can life with the pip-version workaround.

[2022-07-12 14:42] TommasoBendinelli opened #182 "Cannot install on Ubuntu 20.04 with python 3.7.9"
Hello, when doing` pip install zivid` I am getting the following error:
` && /usr/bin/c++ -fPIC -O3 -DNDEBUG  -flto -shared  -o src/_zivid.cpython-37m-x86_64-linux-gnu.so src/CMakeFiles/_zivid.dir/Calibration/Calibration.cpp.o src/CMakeFiles/_zivid.dir/Calibration/Detector.cpp.o src/CMakeFiles/_zivid.dir/Calibration/HandEye.cpp.o src/CMakeFiles/_zivid.dir/Calibration/MultiCamera.cpp.o src/CMakeFil

[2022-07-12 15:35] eskaur commented on #182
Which C++ compiler (with version) do you have?

[2022-07-13 05:58] TommasoBendinelli commented on #182
Solved, I was missing  python3-dev

[2022-07-13 05:58] #182 closed

[2022-07-15 16:36] #4 closed

[2022-07-26 09:27] TommasoBendinelli opened #184 "Better documentation for Camera Intrinsics and Distortion parameters."
Hello,
I have just stumbled into these file: https://github.com/zivid/zivid-python/blob/master/modules/zivid/camera_intrinsics.py
Camera Instrinsics and Distortion parameters are quite useful for a lot of applications and should be documented better.

Best

[2022-07-26 11:14] eskaur commented on #184
Hi!

First of all, if you are wondering how to retrieve intrinsics from a camera, look here:
https://github.com/zivid/zivid-python/blob/master/modules/zivid/experimental/calibration.py

If you are looking for documentation on how to interpret the values, then I agree it could be better. Long story short, it is the "Standard OpenCV model" intrinsics:
https://docs.opencv.org/4.x/dc/dbb/tutorial_py_c

[2022-07-27 11:29] TommasoBendinelli commented on #184
I tried to match the parameters against what I would obtain with CalibrateCamera from OpenCV and the parameter values are completely different. Are unit of measurements different somehow?

[2022-07-28 09:21] diviz-imas commented on #184
Hi Tommaso!

There should be no difference in units. The Brown distortion model uses unitless parameters that work in normalized coordinates.

Can you share the two sets of parameters for reference?

[2022-07-28 13:50] TommasoBendinelli commented on #184
Actually, it was an issue on my side. Sorry about that. I made a small bug in the code, which resulted in wrong values.
Now my values and the ones from Zivid SDK are much closer:
Zivid:
`{"_k1": -0.08929276466369629, "_k2": 0.11623617261648178, "_k3": -0.03393297642469406, "_p1": -0.0004479888884816319, "_p2": -0.00011812106822617352, "_cx": 969.7472534179688, "_cy": 592.1499633789062, "_fx": 1778

[2022-07-28 13:57] TommasoBendinelli commented on #184
Thanks for this relevant info!

[2022-07-28 14:00] diviz-imas commented on #184
Thanks for the feedback Tommaso. We'll see what we can do to improve the docs.

[2022-09-14 12:30] eskaur commented on #178
I was recently able to just do `pip install zivid` on a fresh Ubuntu 22.04 with the latest pip, so this problem may have been resolved. Could you perhaps check on your system, @velovix ?

[2022-09-14 21:39] velovix commented on #178
@eskaur After doing some testing on my host machine (which is also Ubuntu 22.04), I noticed that the build dependencies resolve fine only when I use a virtual environment. We don't use virtual environments since we deploy in Docker, so maybe that's why we're seeing different things.

Here's a minimal Dockerfile I made to demonstrate the problem:

[code]

[2022-11-03 14:32] anordal commented on #93
Solved by #133

[2022-11-03 14:32] #93 closed